*{
    box-sizing: border-box;
}
#app{
    width: 100vw;
    height: 100vh;
}
body, html{
    background: linear-gradient(pink, #ff6ec7);
    height: 100vh;
    overflow: hidden;
}

#root{
    width: 100vw;
    height: 100vh;
}
#container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.sent-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.sent{
    padding: 5px 10px;
    margin: 2px 0;
    max-width: 35%;
    border-radius: 15px 15px 0 15px;
    background-color: azure;
    word-wrap: break-word; /* Ensures text wraps to a new line */
    word-break: break-word; /* Breaks long words when needed */
    white-space: pre-wrap;
}
.recieved-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.recieved{
    margin: 2px 0;
    padding: 5px 10px;
    max-width: 35%;
    border-radius: 15px 15px 15px 0;
    background-color: azure;
    word-wrap: break-word; /* Ensures text wraps to a new line */
    word-break: break-word; /* Breaks long words when needed */
    white-space: pre-wrap;
}
#chat-div{
    margin: auto;
    margin-top: 2%;
    width: 75%;
    height: 80%;
    background-color: #fff5;
    border-radius: 20px;
}
#messages-div{
    overflow: auto;
    height: 90%;
    width: 100%;
    scroll-behavior: smooth;
    padding: 10px;
    min-height: calc(80% - 150px);

}
#input-div{
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#input-div textarea{
    padding: 0.5rem;
    margin-right: 10px;
    width:95%;
    height: 2.5rem;
    max-height: 5rem;
    overflow: auto;
    border-radius: 20px;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
    line-height: 1.5rem;
}
#input-div button{
    height: 2.5rem;
    width: 7%;
    background-color: white;
    border-radius: 20px;
}
#new-count{
    position: fixed;
    top: 79%;
    left: 60%;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
}
#new-count.fade-out {
    opacity: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
}
#new-count button{
    border-radius: 50px;
    border: none;
    margin: 2px;
    position: fixed;
}
.fa-arrow-down{
    color: rebeccapurple;
}
#new-count span{
    font-size: 0.8rem;
    position: absolute;
    right: 1px;
    color: rebeccapurple;
    
}

#messages-div::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  #messages-div::-webkit-scrollbar-track {
    margin: 10px;
  }
  
  /* Handle */
  #messages-div::-webkit-scrollbar-thumb {
    background-color: #fff5;    
    border-radius: 20px;
  }
 textarea::-webkit-scrollbar{
    width: 10px;
 }
 textarea::-webkit-scrollbar-track {
    margin: 5px;
  }
 textarea::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: grey;
    border-radius: 10px;
 }
